.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.container {
  width: 50%;
}

.option {
  margin: 0 0.5rem;
}

.label {
  margin-right: 3px;
}

.name {
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}