.overviewLayout {
  display: grid;
  width: 85vw;
  margin: auto;
  margin-top: 2%;
  padding: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(0, 70vh) minmax(0fr, 0.3fr);
}
.imageGalleryComp { grid-area: 1 / 1 / 2 / 2; }
.infoStyleCart {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: .5fr minmax(0fr, 0.5fr) .5fr;
  gap: 0px 0px;
  grid-template-areas:
    "productInfoComp"
    "styleSelectorComp"
    "cartComp";
  grid-area: 1 / 2 / 2 / 3;
  padding: 3%;
}
.productInfoComp { grid-area: productInfoComp; }
.styleSelectorComp {
  grid-area: styleSelectorComp;
}
.cartComp {
  grid-area: cartComp;
  max-height: 100%;
}

.overviewLayoutIfFull {
  display: grid;
  width: 85vw;
  margin: auto;
  margin-top: 2%;
  padding: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(0, 70vh) 0.3fr;
}
.imageGalleryCompIfFull { grid-area: 1 / 1 / 2 / 3; }