.cartLayout {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 5% 2%;
  grid-template-areas:
   "size quantity"
   "submit whatIsThis";
}
.size {
  grid-area: size;
  text-indent: 25%;
}
.quantity {
  grid-area: quantity;
  text-indent: 25%;
}
.submit {
  grid-area: submit;
  text-align: left;
  text-indent: 24%;
}
.whatIsThis {
  grid-area: whatIsThis;
}
