.overviewLayout {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 1.3fr 0.2fr;
  gap: 3% 2%;
  grid-template-areas:
    "imageGalleryComp infoStyleCart"
    "productDescriptionComp productDescriptionComp";
}
.overviewLayoutIfFull {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 0.2fr;
  gap: 3% 2%;
  grid-template-areas:
    "imageGalleryComp imageGalleryComp"
    "productDescriptionComp productDescriptionComp";
}
.imageGalleryCompIfFull { grid-area: imageGalleryComp; }
.productDescriptionCompIfFull { grid-area: productDescriptionComp; }
.imageGalleryComp { grid-area: imageGalleryComp; }
.productDescriptionComp { grid-area: productDescriptionComp; }
.infoStyleCart {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: .5fr .5fr .5fr;
  gap: 0px 0px;
  grid-template-areas:
    "productInfoComp"
    "styleSelectorComp"
    "cartComp";
  grid-area: infoStyleCart;
  padding: 3%;
}
.productInfoComp { grid-area: productInfoComp; }
.styleSelectorComp { grid-area: styleSelectorComp; }
.cartComp { grid-area: cartComp; }


