.productInfoLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 1.1fr 0.9fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "rating rating"
    "category category"
    "name name"
    "price price"
    "slogan slogan"
    "share share";
}
.price {
  grid-area: price;
  margin-bottom: 1%
}
.share { grid-area: share; }
.name {
  grid-area: name;
  font-size: x-large;
  font-weight: bolder;
}
.category { grid-area: category; }
.rating {
  grid-area: rating;
  display: inline;
}
.slogan { grid-area: slogan; }
.shareButton { margin: 1% }
