.container {
  display: grid;
  grid-template-rows: auto auto auto;
  max-height: 250px;
  row-gap: 5px;
}

@media screen and (max-width: 955px) {
  .container {
    width: 60%;
    margin: 0 auto;
    max-height: fit-content;
  }
}