.container {
  margin: 0.5rem;
  padding: 0 1rem;
}

.barContainer {
  margin-left: 1em;
  width: 75%;
  height: 10px;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

.starFilters {
  width: 25%;
  border: none;
  border-style: none;
  border-bottom: 2px solid rgb(173, 236, 173);
  outline: none;
  cursor: pointer;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button {
  border: none;
  border-style: none;
  border-bottom: 2px solid rgb(173, 236, 173);
  outline: none;
  cursor: pointer;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: gray;
  color: white;
}

.starFilters:hover {
  background-color: gray;
  color: white;
}

.bar {
  height: 10px;
  background-color: rgb(3, 139, 3);
}

.ratings {
  margin-right: 0.5rem;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem;
}

.layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem 0;
}